
body
{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header
{
    width: 100%;
    height: 85px;
    background:#3b5998;
}
.left-section
{
    width: 50%;
    float: left;
}
.right-section
{
    width: 50%;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    float: left;
    padding-top: 10px;
    
    
}

.linklogo
{
    text-decoration: none;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 35px;
    
}

.logo
{
    padding-top: 32px;
    padding-left: 170px;
}

#btn-login
{
    color: #fff;
    background-color: #4267b2;
    border-color: #29487d;
    cursor: pointer;
    margin-left: 10px;
}
.forgotten
{
    text-decoration: none;
    color: #9cb4d8;
    font-size: 11px;
    
}
.form-part
{
    margin-left: 115px;
}
#btn-login:hover
{
    background:rgb(4, 4, 138);
}

.move
{
    padding-left: 10px;
}
.mainbody
{
    height: 630px;
    background: linear-gradient(white, #D3D8E8);
}

.left-sec-mainbody
{
    width: 47%;
    float: left;
    padding-left: 134px;
    padding-top:30px
    
}

.right-sec-mainbody
{
    width: 40%;
    float: left;
}

.quote
{
   color: #3b5998;; 
   font-size: 21px;
   font-weight: bold;
}

.para1-h1
{
    font-size: 43px;
    font-weight: bold;
}
.parar2-p
{
    font-size: 23px;
    top: 147px;
    position: absolute;
    font-weight: 100;
}


.form-part-mainbody
{
    padding-top: 20px;

}
.email-pass
{
    margin-top: 20px;
    width: 500px;
    height: 50px;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
.surname
{
    margin-left:4px ;
    height: 50px;
    width: 245px;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
.fname
{
    height: 50px;
    width: 245px;
    border-radius: 5px;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
.fname::placeholder
{
    font-size: 17px;
}
.surname::placeholder
{
    font-size: 17px;
}
.email-pass::placeholder
{
    font-size: 17px;
}
.para-dob
{
    padding-top: 20px;
    font-size: 20px;
    color: #676767;
    font-weight: bold;
}
.drop
{
    padding-top: 4px;
    width: 190px;
    float: left;
    
}
.pointer
{
    cursor: pointer;
}
.info
{
    padding-top: 4px;
    float: left;
}
.info-img2
{
    float: right;
    padding-right: 40px;
}
.gendertxt
{
    padding-top: 10px;
    font-size: 20px;
    color: #676767; 
    font-weight: bold;
    float: left;
}
.radio-btns
{
    width: 300px;
    font-weight: bold;
    padding-top: 5px;
    float: left;
}
.mainbodybottompara
{
    width: 400px;
    font-size: 12px;
    color: #676767;
    text-decoration: none;
}
.termsandconditions2
{
    text-decoration: none;
    color:rgb(9, 101, 239);
}
.sub-btn
{
    background: none;
    background-color: #00a400;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 600;
    width: 195px;
    height: 36px;
    color: #fff;
    cursor: pointer;
    
    


}
.sub-btn:hover
{
    background-color: #45a049;
}
.submitbtn
{
    width: 550px;
}
.line
{
    padding-top: 10px;
}
.terms
{
    font-size: 14px;
}
.para4
{
    width: 400px;
}
.footer
{
    height: 150px;
    padding-left: 150px;
    padding-top:80px;
    font-size: 12px;
}